/* src/styles/main.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }

:root {
  --el-color-primary: #dfebf6; /* Example: Change to your desired primary color */
  --el-color-secondary: #768a96;
  --el-text-color-primary:#29353c;
  /* --el-font-size-base:17px; */
}

.el-tabs__active-bar {
  background-color:var(--el-color-secondary);
  bottom:0;
  height:2px;
  left:0;
  list-style:none;
  position:absolute;
  transition:width var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier),transform var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
  z-index:1
}
